{% extends 'base.html' %}
{% block title %}Add trainer{% endblock %}
{% block content %}
    <header>
        <h1>Add Trainer</h1>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'list_trainers' %}">Back to Trainers List</a>
    </main>
    <footer>
        &copy; 2024 Gym Website. All rights reserved.
    </footer>
{% endblock %}